#!/bin/bash
sudo echo '127.0.0.1 localhost ${hostname}' > /etc/hosts
sudo hostnamectl set-hostname ${hostname}
sudo hostname ${hostname}

TIMEZONE=$(aws secretsmanager get-secret-value --secret-id ${openvpn_secretsmanager_secret_version_arn} --region ${region} | jq -r '.SecretString' | jq -r '.TIMEZONE')
echo $TIMEZONE > /etc/timezone
sudo dpkg-reconfigure --frontend noninteractive tzdata
