#!/bin/bash

echo "Configuring OpenVPN_AS VPN Settings For Static IP Assignment."
cd /usr/local/openvpn_as/scripts
sudo ./sacli --key 'vpn.server.static.0.netmask_bits' --value '${client_static_network_mask}' ConfigPut
sudo ./sacli --key 'vpn.server.static.0.network' --value '${client_static_network}' ConfigPut

sudo ./sacli start

